
    
    <div class='usersContainer' id="{{id}}" onclick="getMessage({{ id }})">
        
        <div class='leftUserContainer'>
            <img src='{{ imageURL }}' />
        </div>
        <div class='midUserContainer'>
            <div class='textContainer'>
                <p> {{ firstName}} {{ lastName }}</p>
                <p> {{ lastMsg }} </p>
            </div>

        </div>
        <div class='rightUserContainer'>
            <span> {{ lastMsgDate }} </span>
        </div>
    </div>
