
    
    <div class='usersContainer' id="{{ uid }}" onclick='getMessage("{{ uid }}")'>
        
        <div class='leftUserContainer'>
            <img src='{{ imageurl }}' />
        </div>
        <div class='midUserContainer'>
            <div class='textContainer'>
                <p> {{ first_name}} {{ last_name }}</p>
                <p> {{ lastMsg }} </p>
            </div>

        </div>
        <div class='rightUserContainer'>
            <span> {{ messageTime }} </span>
        </div>
    </div>
