<div class='postContainer'>
    <div class='postImageContainer'>
        <a href="../otherUserProfile/{{ this.posterID }}">
            <img src='{{ imageURL }}' />
        </a>
    </div>
    <div class='postBodyContainer'>
        <table>
            <div class='postSubjectContainer'>
                <tr>
                    <td class="subject-td"><span> {{ subject }} </span></td>
                    <td class="topic-td"><span> {{ topic }} </span></td>
                </tr>
            </div>
            <div class='postDetailContainer'>
                <tr>
                    <td colspan="2"><p> {{ detail }} </p></td>
                </tr>
            </div>
            <div class='postTimeContainer'>
                <tr>
                    <td><p> {{ postTime }}</p></td>
                    <td><div onClick="getReply( {{id}} )">{{ replies }} replies</div></td>
                </tr>     
            </div>
        </table>
    </div>
</div>
    <div id='postReplyContainer'>
        {{!-- <div class='replyContainer'>
            {{#each postReplies}}
            {{>reply this}}
            {{/each}}
        </div> --}}
        {{!-- <form class="postForm" action="/reply/add" method="POST">
            <div class="form-control">
                <input type="text" class="form-reply" name="reply" value='add your reply...'>
            </div>
            <button class="comment-btn" type="submit">comment</button>
        </form> --}}
    </div>

