<div id="homeContainer">
    <div id="profileContainer">
        {{#each userProfile}}
        <div class="profileImageContainer">
            <img src='{{ this.imageURL }}' />
        </div>
        <div class="profileInfo">
            <div class="profileName">
                <p>{{ this.firstName }} {{this.lastName}}</p>
            </div>
            <p>{{ this.description }}</p>
        </div>
        <div class="profileData">
            <table class="profile-table">
                <tr>
                    <td class="profile-td">Likes:</td>
                    <td>{{ this.likes }}</td>
                </tr>
                {{/each}}
                {{!-- had to take out of loop --}}
                <tr>
                    <td class="profile-td"><a href="/posts">Posts:</a></td>
                    <td>{{ userPosts }}</td>
                </tr>
                <tr>
                    <td class="profile-td"><a href="/messenger">Messages:</a></td>
                    <td>{{ userMessages }}</td>
                </tr>
            </table>
        </div>
        <a href="/editProfile">Edit Profile</a>
    </div>
    <div id="postContainer">
        <h1>whats your question today?</h1>
        <div class="postFormContainer">
            <form class="postForm" action="/post/addPost" method="POST">
                <div class="form-control">
                    <input type="text" class="form-subject" name="subject" value='subject'>
                </div>
                <div class="form-control">
                    <input type="text" class="form-detail" name="detail" value='explain in detail...'>
                </div>
                <div class="form-control">
                    <select class="form-control" name="topics">
                        <option value="" selected disabled hidden>topic</option>
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <button class="post-btn" type="submit">post to timeline</button>
                </div>
            </form>
        </div>
        <div class="searchContainer">
            <form>
                <div class="form-control">
                    <label for="title">Search by topic</label>
                    <select class="form-control" name="topics">
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <button class="go-btn" type="submit">go-></button>
                </div>
            </form>
        </div>
        <div id="latestPostContainer">
            <h2>Latest discussions</h2>
            {{#each latestPosts}}
            {{>post this}}
            {{/each}}
            <button class="next-btn" onclick="">Next-></button>
        </div>
    </div>
</div>